version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/src/rust"
    schedule:
      interval: "weekly"

  - package-ecosystem: "npm"
    directory: "/src/sui"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
